//@import 'material-design-lite/dist/material.pink-light_blue.min.css'
@import 'bulma/bulma'
@import 'tachyons/src/_spacing.css'

$fa-font-path: '@fortawesome/fontawesome-free/webfonts'
@import '@fortawesome/fontawesome-free/scss/brands'
@import '@fortawesome/fontawesome-free/scss/fontawesome'
@import '@fortawesome/fontawesome-free/scss/regular'
@import '@fortawesome/fontawesome-free/scss/solid'

body
  font-family: 'IM Fell DW Pica', serif
  font-size: 1.4em

h1, h2, h3, h4
  font-family: 'Lobster Two', cursive

.navbar
  background-color: #fafafa
  position: relative
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    height: 3px
    min-width: 100%
    box-shadow: 0 3px 3px rgba(182, 182, 182, 0.75)

main
  margin-top: 52px // for the fixed header

.footer
  font-size: 0.7em
  padding-top: 2rem
  padding-bottom: 2rem

.is-alert
  @extend .is-danger

.tag
  font-family: 'Open Sans', sans-serif
