//@import 'material-design-lite/dist/material.pink-light_blue.min.css'
@import 'bulma/bulma'
@import '@creativebulma/bulma-collapsible/dist/css/bulma-collapsible.min'
@import 'tachyons/src/_spacing'
@import 'trix/dist/trix'
trix-editor
  min-height: 15em

// Custom
@import 'character-card'

body
  font-family: 'IM Fell DW Pica', serif
  font-size: 1.4em

h1, h2, h3, h4
  font-family: 'Lobster Two', cursive


.navbar
  background-color: #fafafa
  position: relative
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    height: 3px
    min-width: 100%
    box-shadow: 0 3px 3px rgba(182, 182, 182, 0.75)
  .navbar-dropdown
    margin-top: -3px
    border-top: 0

.layout-main
  margin-top: 52px // for the fixed header
  padding-top: 16px
  padding-bottom: 16px

.footer
  font-size: 0.7em
  padding-top: 2rem
  padding-bottom: 2rem

.is-alert
  @extend .is-danger
.is-notice
  @extend .is-info

.tag
  font-family: 'Open Sans', sans-serif

.select
  width: 100%
  select
    width: 100%

@media screen and (max-width: 540px)
  // preserve spacing on tiny devices
  .box,
  .message-body,
  .card-content
    padding: 0.4rem
